body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(to right, #8e0e00, #1f1c18);
    color: white;
    text-align: center;
}

h1 {
    font-size: 50px;
}

.tagline {
    font-size: 18px;
    color: #ffd6d6;
}

.card {
    background: white;
    color: black;
    width: 420px;
    margin: auto;
    padding: 25px;
    border-radius: 15px;
}

input, select {
    width: 90%;
    padding: 12px;
    margin: 8px;
    font-size: 16px;
}

button {
    width: 95%;
    padding: 12px;
    background: #c0392b;
    color: white;
    border: none;
    font-size: 18px;
}

button:hover {
    background: #a93226;
}

table {
    width: 95%;
    margin: auto;
    margin-top: 20px;
    background: white;
    color: black;
    border-collapse: collapse;
}

th {
    background: darkred;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
}