<!DOCTYPE html>
<html>
<head>
    <title>All Donors</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="navbar">
    <a href="/">Home</a>
    <a href="/search">Search</a>
    <a href="/donors">All Donors</a>
    <a href="/logout">Logout</a>
</div>

<h1>🩸 Blood Donor Finder System</h1>
<h2>All Donors</h2>

<table>
<tr>
<th>ID</th>
<th>Name</th>
<th>Blood Group</th>
<th>City</th>
<th>Phone</th>
<th>Action</th>
</tr>

{% for r in data %}
<tr>
<td>{{ r[0] }}</td>
<td>{{ r[1] }}</td>
<td>{{ r[2] }}</td>
<td>{{ r[3] }}</td>
<td>{{ r[4] }}</td>
<td>
<a href="/edit/{{ r[0] }}">Edit</a> |
<a href="/delete/{{ r[0] }}">Delete</a>
</td>
</tr>
{% endfor %}

</table>

</body>
</html>