<!DOCTYPE html>
<html>
<head>
    <title>Donor History</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="navbar">
    <a href="/">Home</a>
    <a href="/search">Search</a>
    <a href="/donors">All Donors</a>
    <a href="/history">History</a>
    <a href="/logout">Logout</a>
</div>

<h2>🕒 Donor History (Latest First)</h2>

<table>
<tr>
<th>ID</th><th>Name</th><th>Blood Group</th><th>City</th><th>Phone</th>
</tr>

{% for r in data %}
<tr>
<td>{{ r[0] }}</td>
<td>{{ r[1] }}</td>
<td>{{ r[2] }}</td>
<td>{{ r[3] }}</td>
<td>{{ r[4] }}</td>
</tr>
{% endfor %}

</table>

</body>
</html>