<!DOCTYPE html>
<html>
<head>
    <title>Blood Donor Finder</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h1>🩸BLOOD DONOR FINDER SYSTEM</h1>

<p class="tagline">
SAVE LIFE – DONATE BLOOD❤️
</p>

<!-- TOP BUTTONS -->

<div style="margin-bottom:20px;">

<a href="/search">
    <button style="width:220px;">🔍 Search Donor</button>
</a>

<a href="/donors">
    <button style="width:220px;">🩸 Donor History</button>
</a>

</div>

<!-- FORM CARD -->

<div class="card">

<form method="POST">

<input type="text" name="name" placeholder="Name" required>

<select name="blood_group" required>

    <option value="">Select Blood Group</option>

    <option>A+</option>
    <option>A-</option>
    <option>B+</option>
    <option>B-</option>
    <option>O+</option>
    <option>O-</option>
    <option>AB+</option>
    <option>AB-</option>

</select>

<input type="text" name="city" placeholder="City" required>

<input type="text" name="phone" placeholder="10 Digit Phone" required>

<button type="submit">
    Add Donor
</button>

</form>

<p style="color:green;">
{{ msg }}
</p>

</div>

<br><br>

<!-- LOGOUT BUTTON AT BOTTOM -->

<a href="/logout">
    <button style="width:220px; background:black;">
        Logout
    </button>
</a>

</body>
</html>